* {
  /*outline: red 1px solid; */
}


/* ----- Layout Style -----*/


body {
	background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}


/* ----- Ryu animation -----*/

.ryu {
	float:left;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}



.ryu-ready, .ryu-throwing, .ryu-cool, .st-logo, .jQuery-logo, .instructions, .hadouken, .combination {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');

}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.st-logo {
  background-image: url("../images/ST-logo.png");
}

.jQuery-logo {
  background-image: url("../images/jquery-logo.png");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .st-logo, .jQuery-logo {
  background-repeat: no-repeat;
}


.hadouken, .st-logo, .jQuery-logo, .combination {
  position: absolute;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  float: left;
  z-index: 10;
  top: 10.625rem;
  left: 39.375rem;
}

.st-logo, .jQuery-logo {
  position: absolute;
  top: 8rem;
  right: 10rem;
  float:right;
  width: 500px;
  height: 500px;
}

.combination {
  top: 10rem;
  right: 20rem;
  font-size: 3rem;
  color: #0769AD;
}

.instructions {
  position: absolute;
  top: 6rem;
  right: 7rem;
  font-size: 1.5rem;
  font-family: "Indie Flower", cursive;
}